# Virtual environment
venv/
.env

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Database
db.sqlite3

dbexport.sql
# Static
staticfiles/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

cchc_backup.sql
sipas_backup.sql
